# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=c:/MogreSDK/Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=c:/MogreSDK//Media
FileSystem=c:/MogreSDK//Media/fonts
FileSystem=c:/MogreSDK//Media/materials/programs
FileSystem=c:/MogreSDK//Media/materials/scripts
FileSystem=c:/MogreSDK//Media/materials/textures
FileSystem=c:/MogreSDK//Media/models
FileSystem=c:/MogreSDK//Media/overlays
FileSystem=c:/MogreSDK//Media/particle
FileSystem=c:/MogreSDK//Media/gui
FileSystem=c:/MogreSDK//Media/DeferredShadingMedia
Zip=c:/MogreSDK//Media/packs/cubemap.zip
Zip=c:/MogreSDK//Media/packs/cubemapsJS.zip
Zip=c:/MogreSDK//Media/packs/dragon.zip
Zip=c:/MogreSDK//Media/packs/fresneldemo.zip
Zip=c:/MogreSDK//Media/packs/ogretestmap.zip
Zip=c:/MogreSDK//Media/packs/skybox.zip
